<p>Bonjour,</p>
<p>Votre abonnement au plan <strong>{{ model.plan_name | html.escape }}</strong> a été annulé.</p>
{{- if model.cancellation_reason != "" }}
<p><strong>Motif :</strong> {{ model.cancellation_reason | html.escape }}</p>
{{- end }}
<p>Vous conserverez votre accès jusqu'à la fin de votre période de facturation en cours.</p>
<p>Si vous changez d'avis, vous pouvez vous réabonner à tout moment.</p>
<p style="text-align: center; margin: 32px 0;">
  <a href="{{ app.base_url }}/subscriptions" class="btn">Se réabonner</a>
</p>
